
#carousel-button{
  padding: 15px 20px;
}

#carousel-button:hover {
  background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

.button-link {
	background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
  border-radius: 50px;
  box-shadow: 1px 1px #000000;
  text-decoration: none;
  color: #fff !important;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 20px;
}

.button-link:hover {
  transition: background-color 1s ease;
  background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}
