.card {
  margin: 0 auto;
  margin-bottom: 10px;
  outline: solid 5px #fecfef;
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(233, 229, 229, 0.769),
  0 0  0 2px rgb(190, 190, 190),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.card-text{
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 0px;
  font-family:'Source Sans Pro', sans-serif;
}

.card-body{
  padding-top: 20px;
  padding-bottom: 0px;
}
.card-img-top {
  border-radius: 2px;
  object-fit: cover;
}


#services {
  background-color: #ffffff00;
  border: none;
  border-radius: none;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 800;
  color: #050505;
  text-shadow: 1px 1px black;
}



.card-price-info .price{
  background: black;
  color: white;
  font-weight: bold;
  height: 80px;
  width:80px;
  border-radius: 50%;
  border: solid 2px #d3a0c3;
  padding-top: 30px;
  font-size: 16px;
  position: absolute;
  bottom: 35px;
  right: 5px;
  text-shadow: 1px 1px 1px rgb(208, 204, 204);

}

/*Ready Menu */

.on-hover-reveal-text {
  position: relative;
}

.card-img-top {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.on-hover-reveal-text:hover .card-img-top {
  filter: brightness(50%);
}

.on-hover-reveal-text:hover .middle {
  opacity: 1;
}

.ready-menu-card-text{
  font-size: 16px;
  color: white;
  border-radius: 5px;
}

.ready-menu-card-text ul {
  list-style: none;
  padding-top: 0px;
  display: inline;
  text-align: center;
  height: 100%;
  max-width: 100%;

}

.ready-menu-card-text li{
  margin: 0;
}


 /* Custom Services Card */

.on-hover-reveal-text-custom:hover .card-img-top{
  filter: brightness(70%);

}

.on-hover-reveal-text-custom:hover .middle{
  opacity: 1;
}

.text {
  text-decoration: none;
  font-size: 50px;

}

.instagram{
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
  text-shadow: 1px 1px #fa05e6;
}

.fa-square-instagram{
  color:#fecfef;
  background-color: #000000;
  padding: 2.5px 5px;
  border-radius: 5px;
}

.fa-square-instagram:hover{
  background-color: #6b6565;
}



#events-card-font{
  color: white;
  text-shadow: 1px 1px #161616;

}
