/* Carousel Animation*/

.fade-in-image {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  filter: brightness(70%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#carouselBerry .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 35rem;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  }

  /* Logo */

#business-logo {
  filter: drop-shadow(2px 2px 4px #000);
}

.business-slogan-z{
  text-align: left;
  position: absolute;
  line-height: 5rem;
  font-family: 'Libre Baskerville', serif;
  top: 150px;
  z-index: 1;
  padding: 55px;
  padding-right: 300px;
  color: #ffffff;
  text-shadow: 1px 1px #8f8f8f;
  font-size: 45px;
}

.carousel-button-z{
  position: absolute;
  top: 500px;
  z-index: 1;
  font-size:15px;
  padding-left: 70px;
}

#business {
  text-align: justify;
  text-align: left;
  padding: 30px 30px;
  font-family: "Josefin Sans", sans-serif;
}

.cater-carousel img{
  height: 600px;
  width: 250px;
  object-fit: cover;
  border: solid 3px #fecfef;
  border-radius: 10px;
  filter: brightness(70%);
}


@media (max-width: 600px){

  .business-slogan-z {
    text-align: left;
    position: absolute;
    line-height: 3rem;
    /* left: calc(50vw - 175px); */
    top: 80px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 10px;
    color: #ffffff;
    text-shadow: 1px 1px #8f8f8f;
    font-size: 35px;
  }

  .carousel-button-z{
    position: absolute;
    left: calc(50vw - 150px);
    top: 100px;
    z-index: 1;
  }

  #carouselBerry .carousel-item img {
  height: 35rem;
  }

  .cater-carousel img{
    height: 60%;
    width: 60%;
  }

}
