/* Carousel Animation*/

.fade-in-image {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  filter: brightness(70%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Logo Animation*/
.bounce-in-top {
  -webkit-animation: bounce-in-top 5s both;
  animation: bounce-in-top 5s both;
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}





#carouselBerry .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 35rem;
  overflow: hidden;
  position: relative;
  }

  /* Logo */

#business-logo {
  filter: drop-shadow(2px 2px 4px #000);
}

.business-slogan-z{
  text-align: left;
  position: absolute;
  line-height: 5rem;
  /* left: calc(50vw - 175px); */
  top: 150px;
  z-index: 1;
  padding: 55px;
  padding-right: 300px;
  color: #ffffff;
  text-shadow: 1px 1px #8f8f8f;
  font-size: 45px;
}

.carousel-button-z{
  position: absolute;
  /* left: calc(50vw - 50px); */
  top: 500px;
  z-index: 1;
  font-size:15px;
  padding-left: 70px;
}

#business {
  text-align: justify;
  text-align: left;
  padding: 30px 30px;
  font-family: "Josefin Sans", sans-serif;
}


@media (max-width: 600px){

  .business-slogan-z {
    text-align: left;
    position: absolute;
    line-height: 3rem;
    /* left: calc(50vw - 175px); */
    top: 80px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 10px;
    color: #ffffff;
    text-shadow: 1px 1px #8f8f8f;
    font-size: 35px;
  }

  .carousel-button-z{
    position: absolute;
    left: calc(50vw - 150px);
    top: 100px;
    z-index: 1;
  }






  #carouselBerry .carousel-item img {
  height: 35rem;
  }

}
