*Social Media */
#social-media{
  margin-top: 80px;
}

#instragram-gif{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 30px;
}

/*Footer */

#faq-link{
font-size: 20px;
text-align: left;
margin-top: 20px;;
margin-left: 20px;
margin-bottom: 100px;
text-decoration: none;
font-weight: bold;
color: var(--third-color);
}

footer {
  color: #000000;
  padding-top: 30px;
  margin-bottom: 0px;
  width: 100%;
  height: 550px;
  font-family: 'IBM Plex Serif', serif;
}

footer {
  position: relative;
  background: #fecfef;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background-color: inherit;
}
footer::before {
  right: 100%;
}
footer::after {
  left: 100%;
}

footer .email {
  margin-bottom: 0px;
  margin: 0 auto;
}

footer .email a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

#contact-us i {
  margin-top: 10px;
  font-size: 40px;
  color: var(--third-color);
  border-radius: 50%;
  padding: 5px 10px;
}
#contact-us i:hover {
  color: var(--secondary-color);
}

.link {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

#business-information{
  color: var(--third-color);
}


#footer-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #1d1c1c94;
  border: 2px solid #000000;
}
