.fa-ellipsis-vertical{
  color: var(--third-color);
}

.fa-ellipsis-vertical:hover {
  color: var(--secondary-color);
}

.navbar {
  margin: 0 !important;
  width: 100%;
  top: 0px;
  padding: 0px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Rubik Mono One', sans-serif;
}

.navbar-custom {
  background-color: #000000;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}

a.nav-link {
  letter-spacing: 0.1em;
  font-size: 16px;
}

nav .navbar-nav li a {
  color: #ffffff !important;
}

nav .navbar-nav li a:hover {
  color: #ec75c7 !important;
  transition: ease-in 0.3s;
}

.navbar .nav-item > .nav-link.active {
  color: #ec75c7 !important;

}

.nav-item {
  font-weight: bolder;
}

.navbar-collapse {
  text-align: center;
  justify-content: center;
}

a.nav-link {
  position: relative;
}

.logo {
  padding: 0 px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #ef79c9;
}


@media (max-width: 600px){
.logo{
  width: 80px;

}

}
