.root {
  --primary-color: #a8815d;
  --secondary-color: #f2ede7;
  --third-color: #000000;
  --fourth-color: #83181b;
  --fifth-color: #cda2a3;
}

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: var(--secondary-color);
  font-family: "Nunito", sans-serif;
}
.story {
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
  text-align: justify;
  border: 5px solid #83181b;
  border-radius: 5px;
  background: var(--fifth-color);
  text-align: left;
  padding: 10px 10px;
}
.card {
  margin: 0 auto;

  margin-bottom: 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar {
  margin: 0 !important;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  align-items: left;
  justify-content: left;
  top: 0px;
  float: left;
  font-family: "Nunito", sans-serif;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}
.logo {
  max-width: 150px;
  border-radius: 5px;
  border: 2px solid #83181b;
}
img {
  background-color: #83181b;
}

h1,
h2 {
  text-align: center;
}
#quote {
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
  text-align: center;
  border-radius: 5px;
  border: 5px solid #83181b;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
}
#divider {
  background-color: white;
}

#berry3 {
  border-radius: 50%;
  border: 5px solid #83181b;
}
#me {
  font-size: 35px;
}
#location {
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
  text-align: center;
  border-radius: 5px;
  border: 5px solid #83181b;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
#carouselBerry .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 20rem;
  overflow: hidden;
  color: white;
  background: #777;
}

#carouselBerry {
  width: 20rem;
}
#carousel-story {
  display: flex;
}
