.root {
  --primary-color: #a8815d;
  --secondary-color: #f2ede7;
  --third-color: #000000;
  --fourth-color: #83181b;
  --fifth-color: #cda2a3;
}

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(
    to right,
    #83181b 0%,
    #83181b 50%,
    #cda2a3 50%,
    #cda2a3 100%
  );
  font-family: "Nunito", sans-serif;
}
.story {
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
  text-align: justify;
  border: 5px solid #a8815d;
  border-radius: 5px;
  background: var(--fifth-color);
  text-align: left;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar {
  margin: 0 !important;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  align-items: left;
  justify-content: left;
  top: 0px;
  float: left;
  font-family: "Nunito", sans-serif;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}
.logo {
  max-width: 150px;
  border-radius: 5px;
  border: 2px solid #83181b;
}
img {
  background-color: white;
}

h1,
h2 {
  text-align: center;
}
#quote {
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
  text-align: center;
  border-radius: 10px;
  border: 10px solid #a8815d;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
}

#berry3 {
  border-radius: 50%;
}
me {
  font-size: 15px;
}
.carousel-inner .carousel-item {
  height: 300px;
  width: 300px;
}
